@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow: hidden;
  cursor: default;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}