@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow: hidden;
  cursor: default;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont.ttf');
}

.radial-progress-circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
